/* You can add global styles to this file, and also import other style files */

.center {
    text-align: center;
}
.form-control {
          margin: 4px;
    width: 230px;
}
.error{
       color: red;
margin: 0px 0px 2px 39px;
}
